<!DOCTYPE html>
<html lang="nl">

<head>
    <meta thisIsHTML='false'>
    <title>Bostoen module configurator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div id='loader'>
        <div>
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>
    </div>
    <iframe id="viewer-canvas" src='/static/BostoenConfig/index.html'>
    </iframe>
    <div id="configurator-interface">
        <form id="view-floor-menu">
            <input type="radio" name="floor" id="Floor.1">
            <label for="Floor.1">+1</label>
            <input type="radio" name="floor" id="Floor.0" checked>
            <label for="Floor.0">+0</label>
        </form>

        <div id="configurator-panel">
            <div id="configurator-panel-content">
                <div id="configurator-panel-header">
                    <h1 id="OptionsTitle">Choose your materials</h1>
                    <button class="closeButton" elementToClose='configurator-panel'>
                        <img src="/static/images/icons/help-icons/close-button.svg" alt="close"></img>
                    </button>
                </div>
                <div id="configurator-options-container">
                </div>
                <div id="codeButtonsContainer">
                    <button class="button-standard" id="showLoadSessionButton">Ik heb een code</button>
                    <button class="button-standard" id="showSaveSessionButton">Ik wil een code</button>
                </div>
            </div>
            <div id="configurator-panel-footer">
                <svg viewBox="0.021 0.001 322.045 56.247" width="322.045" height="56.247">
                    <path
                        d="M 0.021 0.009 L 0.066 3.425 C 0.066 14.331 7.732 23.491 18.44 25.56 C 149.789 50.937 270.444 55.444 309.163 56.245 C 316.341 56.394 322.066 50.598 322.066 43.418 L 322.066 0.001"
                        fill="white"></path>
                </svg>
            </div>
        </div>

        <button id="help-button">
            <img src="/static/images/icons/help-icons/help-button.svg" />
        </button>

        <div id="help-panel" class="w3-modal modal">
            <div>
                <div class="w3-modal-content w3-animate-bottom">
                    <button class="closeButton" elementToClose='help-panel'>
                        <img src="/static/images/icons/help-icons/close-button.svg" alt="close"></object>
                    </button>
                    <h1 id="help-panel-title">Hulp met de configurator</h1>
                    <div class="help-card" id="help-move">
                        <img src="/static/images/icons/help-icons/help-icon-move.svg" alt="move icon" />
                        <h1>Bewegen</h1>
                        <p>Wanneer je met de linker muisknop ingedrukt de muis beweegt roteer je rond het gebouw</p>
                    </div>
                    <div class="help-card"  id="help-configure">
                        <img src="/static/images/icons/help-icons/help-icon-configure.svg" alt="configure icon" />
                        <h1>Configureren</h1>
                        <p>Selecteer een van de modellen die oplicht als je erover beweegt, selecteer daarna je
                            keuze</p>
                    </div>
                    <div class="help-card"  id="help-changeView">
                        <img src="/static/images/icons/help-icons/help-icon-floor.svg" alt="floor icon" />
                        <h1>Verdieping</h1>
                        <p>Wissel van verdieping door het een van de verdiepingsknoppen te selecteren</p>
                    </div>
                    <div class="help-card"  id="help-session">
                        <img src="/static/images/icons/help-icons/help-icon-code.svg" alt="code icon" />
                        <h1>Persoonlijke code</h1>
                        <p>Genereer een persoonlijke code waarmee je de configuratie altijd terug kan starten</p>
                    </div>
                </div>
            </div>
        </div>

        <form id="code-input-panel" class="w3-modal modal code-panel" name="LoadConfigurationForm" action="#">
            <div>
                <div class="w3-modal-content w3-animate-bottom">
                    <button class="closeButton" elementToClose='code-input-panel' type="button">
                        <img src="/static/images/icons/help-icons/close-button.svg" alt="close">
                    </button>
                    <h1>Voeg je code in</h1>
                    <p>Start waar je geëindigd was</p>
                    <input id="code-input-textbox" type="text" autocomplete="off" />
                    <p id='sessionNotFoundFeedback'>Configuratie niet gevonden</p>
                    <input type="button" class="button-standard color-accent" value="Open" id="loadSessionButton">
                </div>
            </div>
        </form>

        <div id="code-display-panel" class="w3-modal modal code-panel">
            <div>
                <div class="w3-modal-content w3-animate-bottom">
                    <button class="closeButton" elementToClose='code-display-panel'>
                        <img src="/static/images/icons/help-icons/close-button.svg" alt="close">
                    </button>
                    <h1>Uw persoonlijke code</h1>
                    <p>Sla je keuzes op</p>
                    <div class="tooltip">
                        <h1 id="code-label"></h1>
                        <span class="tooltiptext" id="copyCodeTooltip">Copy to clipboard</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="configurator-footer">
            <svg id="footer-image" viewBox="-776.854 70.466 1920 113" preserveAspectRatio="none">
                <defs>
                    <linearGradient id="paint0_linear" x1="-2.46969e-06" y1="56.5" x2="1920" y2="56.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4D0000"></stop>
                        <stop offset="0.474" stop-color="#FF0000"></stop>
                        <stop offset="1" stop-color="#4D0000"></stop>
                    </linearGradient>
                </defs>
                <path d="M 1920 1.526 C 1830.18 -13.97 998.685 93.505 706.105 99.503 C 472.041 104.302 137.842 68.844 0 50.515 L 0 113 L 1920 113" fill="url(#paint0_linear)" transform="matrix(1, 0, 0, 1, -776.853943, 70.466293)"></path>
                <!--<path d="M1691.32 54.6719V69.2324C1691.31 70.668 1690.99 71.918 1690.37 72.9824C1689.74 74.0469 1688.86 74.8672 1687.72 75.4434C1686.58 76.0098 1685.28 76.293 1683.8 76.293C1681.56 76.293 1679.76 75.6826 1678.4 74.4619C1677.05 73.2314 1676.35 71.5322 1676.3 69.3643V54.6719H1678.09V69.1006C1678.09 70.8975 1678.6 72.2939 1679.63 73.29C1680.66 74.2764 1682.05 74.7695 1683.8 74.7695C1685.56 74.7695 1686.95 74.2715 1687.96 73.2754C1688.99 72.2793 1689.5 70.8926 1689.5 69.1152V54.6719H1691.32ZM1699.73 72.3525L1699.99 73.7148L1700.34 72.2793L1704.15 60.1504H1705.65L1709.41 72.1768L1709.82 73.8467L1710.16 72.3086L1713.41 60.1504H1715.23L1710.61 76H1709.12L1705.04 63.4316L1704.85 62.5674L1704.66 63.4463L1700.67 76H1699.17L1694.57 60.1504H1696.37L1699.73 72.3525ZM1731.71 74.8135C1732.93 74.8135 1733.95 74.4717 1734.77 73.7881C1735.6 73.0947 1736.05 72.2012 1736.11 71.1074H1737.8C1737.75 72.0742 1737.45 72.958 1736.89 73.7588C1736.33 74.5498 1735.59 75.1699 1734.66 75.6191C1733.75 76.0684 1732.76 76.293 1731.71 76.293C1729.62 76.293 1727.97 75.5703 1726.75 74.125C1725.54 72.6797 1724.94 70.7363 1724.94 68.2949V67.7676C1724.94 66.2051 1725.21 64.8232 1725.76 63.6221C1726.3 62.4209 1727.09 61.4932 1728.1 60.8389C1729.13 60.1846 1730.32 59.8574 1731.69 59.8574C1733.43 59.8574 1734.86 60.375 1735.98 61.4102C1737.12 62.4453 1737.72 63.8076 1737.8 65.4971H1736.11C1736.04 64.2568 1735.59 63.2559 1734.77 62.4941C1733.96 61.7324 1732.93 61.3516 1731.69 61.3516C1730.11 61.3516 1728.88 61.9229 1728 63.0654C1727.13 64.208 1726.7 65.8096 1726.7 67.8701V68.3828C1726.7 70.4043 1727.13 71.9814 1728 73.1143C1728.88 74.2471 1730.11 74.8135 1731.71 74.8135ZM1740.35 67.8408C1740.35 66.3174 1740.64 64.9453 1741.23 63.7246C1741.82 62.5039 1742.66 61.5566 1743.73 60.8828C1744.82 60.1992 1746.04 59.8574 1747.41 59.8574C1749.52 59.8574 1751.23 60.5996 1752.54 62.084C1753.84 63.5586 1754.5 65.5166 1754.5 67.958V68.3242C1754.5 69.8574 1754.2 71.2393 1753.6 72.4697C1753.02 73.6904 1752.19 74.6328 1751.11 75.2969C1750.04 75.9609 1748.81 76.293 1747.44 76.293C1745.34 76.293 1743.63 75.5557 1742.31 74.0811C1741 72.5967 1740.35 70.6338 1740.35 68.1924V67.8408ZM1742.11 68.3242C1742.11 70.2188 1742.59 71.7764 1743.57 72.9971C1744.56 74.208 1745.85 74.8135 1747.44 74.8135C1749.02 74.8135 1750.3 74.208 1751.28 72.9971C1752.26 71.7764 1752.75 70.1699 1752.75 68.1777V67.8408C1752.75 66.6299 1752.53 65.5215 1752.08 64.5156C1751.63 63.5098 1751 62.7334 1750.19 62.1865C1749.38 61.6299 1748.45 61.3516 1747.41 61.3516C1745.85 61.3516 1744.57 61.9668 1743.58 63.1973C1742.6 64.418 1742.11 66.0195 1742.11 68.002V68.3242ZM1759.8 60.1504L1759.86 62.8604C1760.46 61.8838 1761.2 61.1416 1762.09 60.6338C1762.97 60.1162 1763.96 59.8574 1765.03 59.8574C1766.73 59.8574 1767.99 60.3359 1768.82 61.293C1769.65 62.25 1770.07 63.6855 1770.08 65.5996V76H1768.34V65.585C1768.33 64.1689 1768.03 63.1143 1767.43 62.4209C1766.85 61.7275 1765.9 61.3809 1764.61 61.3809C1763.52 61.3809 1762.56 61.7227 1761.72 62.4062C1760.89 63.0801 1760.27 63.9932 1759.87 65.1455V76H1758.13V60.1504H1759.8ZM1775.68 76V61.5859H1773.04V60.1504H1775.68V58.5244C1775.68 56.835 1776.14 55.5264 1777.06 54.5986C1777.97 53.6611 1779.27 53.1924 1780.94 53.1924C1782.25 53.1924 1783.59 53.4805 1784.98 54.0566L1784.69 55.5654C1783.5 55.0479 1782.29 54.7891 1781.06 54.7891C1778.64 54.7891 1777.44 56.0439 1777.44 58.5537V60.1504H1781.14V61.5859H1777.44V76H1775.68ZM1785.93 76H1784.18V60.1504H1785.93V76ZM1790.04 67.9287C1790.04 65.4482 1790.58 63.4854 1791.68 62.04C1792.78 60.585 1794.27 59.8574 1796.16 59.8574C1798.32 59.8574 1799.96 60.7168 1801.08 62.4355L1801.17 60.1504H1802.81V75.6777C1802.81 77.7188 1802.24 79.335 1801.09 80.5264C1799.95 81.7178 1798.4 82.3135 1796.45 82.3135C1795.35 82.3135 1794.29 82.0645 1793.29 81.5664C1792.29 81.0781 1791.5 80.4238 1790.93 79.6035L1791.91 78.5488C1793.15 80.0723 1794.62 80.834 1796.33 80.834C1797.8 80.834 1798.94 80.3994 1799.76 79.5303C1800.58 78.6709 1801.01 77.4746 1801.04 75.9414V73.9492C1799.91 75.5117 1798.28 76.293 1796.13 76.293C1794.29 76.293 1792.82 75.5605 1791.71 74.0957C1790.59 72.6309 1790.04 70.6533 1790.04 68.1631V67.9287ZM1791.81 68.2363C1791.81 70.2578 1792.21 71.8545 1793.02 73.0264C1793.83 74.1885 1794.98 74.7695 1796.45 74.7695C1798.61 74.7695 1800.14 73.8027 1801.04 71.8691V64.501C1800.63 63.4854 1800.04 62.7139 1799.26 62.1865C1798.49 61.6494 1797.56 61.3809 1796.48 61.3809C1795.01 61.3809 1793.86 61.9619 1793.04 63.124C1792.22 64.2764 1791.81 65.9805 1791.81 68.2363ZM1817.57 73.9932C1816.52 75.5264 1814.83 76.293 1812.52 76.293C1810.83 76.293 1809.55 75.8047 1808.67 74.8281C1807.79 73.8418 1807.34 72.3867 1807.32 70.4629V60.1504H1809.06V70.2432C1809.06 73.2607 1810.28 74.7695 1812.73 74.7695C1815.26 74.7695 1816.87 73.7197 1817.54 71.6201V60.1504H1819.3V76H1817.6L1817.57 73.9932ZM1831.2 61.6445C1830.83 61.5762 1830.43 61.542 1830.01 61.542C1828.92 61.542 1827.99 61.8496 1827.23 62.4648C1826.48 63.0703 1825.94 63.9541 1825.62 65.1162V76H1823.87V60.1504H1825.59L1825.62 62.6699C1826.54 60.7949 1828.03 59.8574 1830.08 59.8574C1830.57 59.8574 1830.96 59.9209 1831.24 60.0479L1831.2 61.6445ZM1843.4 76C1843.22 75.502 1843.11 74.7646 1843.06 73.7881C1842.45 74.5889 1841.66 75.209 1840.7 75.6484C1839.76 76.0781 1838.75 76.293 1837.69 76.293C1836.16 76.293 1834.93 75.8682 1833.98 75.0186C1833.04 74.1689 1832.57 73.0947 1832.57 71.7959C1832.57 70.2529 1833.21 69.0322 1834.49 68.1338C1835.78 67.2354 1837.57 66.7861 1839.87 66.7861H1843.05V64.9844C1843.05 63.8516 1842.7 62.9629 1841.99 62.3184C1841.3 61.6641 1840.28 61.3369 1838.95 61.3369C1837.73 61.3369 1836.71 61.6494 1835.91 62.2744C1835.11 62.8994 1834.71 63.6514 1834.71 64.5303L1832.96 64.5156C1832.96 63.2559 1833.54 62.167 1834.71 61.249C1835.88 60.3213 1837.33 59.8574 1839.03 59.8574C1840.8 59.8574 1842.19 60.3018 1843.21 61.1904C1844.23 62.0693 1844.76 63.2998 1844.79 64.8818V72.3818C1844.79 73.915 1844.95 75.0625 1845.27 75.8242V76H1843.4ZM1837.89 74.7402C1839.06 74.7402 1840.11 74.457 1841.03 73.8906C1841.95 73.3242 1842.63 72.5674 1843.05 71.6201V68.1338H1839.91C1838.17 68.1533 1836.8 68.4756 1835.81 69.1006C1834.83 69.7158 1834.33 70.5654 1834.33 71.6494C1834.33 72.5381 1834.66 73.2754 1835.31 73.8613C1835.98 74.4473 1836.84 74.7402 1837.89 74.7402ZM1852.2 56.0928V60.1504H1855.48V61.5859H1852.2V72.1475C1852.2 73.0264 1852.36 73.6807 1852.67 74.1104C1852.99 74.54 1853.53 74.7549 1854.27 74.7549C1854.56 74.7549 1855.04 74.7061 1855.69 74.6084L1855.76 76.0439C1855.3 76.21 1854.68 76.293 1853.89 76.293C1852.69 76.293 1851.81 75.9463 1851.27 75.2529C1850.72 74.5498 1850.45 73.5195 1850.45 72.1621V61.5859H1847.53V60.1504H1850.45V56.0928H1852.2ZM1861.08 76H1859.32V60.1504H1861.08V76ZM1859.01 55.5654C1859.01 55.2334 1859.12 54.9551 1859.34 54.7305C1859.55 54.4961 1859.84 54.3789 1860.22 54.3789C1860.59 54.3789 1860.88 54.4961 1861.09 54.7305C1861.32 54.9551 1861.43 55.2334 1861.43 55.5654C1861.43 55.8975 1861.32 56.1758 1861.09 56.4004C1860.88 56.625 1860.59 56.7373 1860.22 56.7373C1859.84 56.7373 1859.55 56.625 1859.34 56.4004C1859.12 56.1758 1859.01 55.8975 1859.01 55.5654ZM1871.99 76.293C1870.65 76.293 1869.42 75.9609 1868.33 75.2969C1867.25 74.6328 1866.4 73.71 1865.8 72.5283C1865.19 71.3369 1864.89 70.0039 1864.89 68.5293V67.8994C1864.89 66.376 1865.18 65.0039 1865.77 63.7832C1866.36 62.5625 1867.19 61.6055 1868.24 60.9121C1869.3 60.209 1870.44 59.8574 1871.67 59.8574C1873.59 59.8574 1875.12 60.5166 1876.24 61.835C1877.37 63.1436 1877.94 64.9355 1877.94 67.2109V68.1924H1866.63V68.5293C1866.63 70.3262 1867.14 71.8252 1868.17 73.0264C1869.21 74.2178 1870.5 74.8135 1872.07 74.8135C1873 74.8135 1873.83 74.6426 1874.54 74.3008C1875.26 73.959 1875.92 73.4121 1876.5 72.6602L1877.6 73.4951C1876.31 75.3604 1874.44 76.293 1871.99 76.293ZM1871.67 61.3516C1870.35 61.3516 1869.24 61.835 1868.33 62.8018C1867.43 63.7686 1866.89 65.0674 1866.69 66.6982H1876.2V66.5078C1876.15 64.9844 1875.71 63.7441 1874.89 62.7871C1874.07 61.8301 1873 61.3516 1871.67 61.3516Z" fill="white" transform="matrix(1, 0, 0, 1, -776.853943, 70.466293)"></path>-->
            </svg>
        </div>
        <button class="button-standard" id="showConfigurationButton">Uw Configuratie</button>
    </div>
</body>
<script src="/static/bundle.js"></script>
</html>