html {
  overflow: hidden;
  font-size: 100%;
}

body {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}


#viewer-canvas {
  width: 100%;
  height: 100%;
  overflow: auto;
  clear: both;
  padding: 0px;
  margin: 0px;
  position: absolute;
  border: none;
}

#configurator-view {
  z-index: 15;
  background-color: burlywood;
  width: 100%;
  height: 100%;
  overflow: auto;
  clear: both;
  padding: 0px;
  margin: 0px;
}

#view-floor-menu > input {
  height: 28px;
  z-index: 15;
  display: block;
  margin: 2px;
  cursor: pointer;
  display: none;
}

#view-floor-menu > label {
  cursor: pointer;
  display: block;

  height: 28px;
  margin: 2px;
  cursor: pointer;
  /*font-family: Roboto;*/
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: rgba(130,130,130,1);
}

#view-floor-menu > input:checked + label{
  color: #000000;
}

#view-floor-menu > label:hover {
  color: dimgray;
}

#view-floor-menu {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 15;
  justify-content: space-around;
}

.PassiveMode {
  /*font-family: "Roboto";*/
  font-size: 13px;
  color: grey;
}

.ActiveMode {
  /*font-family: "Roboto";*/
  font-size: 13px;
  color: black;
}

button:focus
{
  outline: 0;
}

button:active
{
  transform: translateY(4px);
}

.button-standard {
  /*width: 132px;
  height: 49px;*/
  padding: 0.7em 1em;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*border-radius: 6px;*/
  border-radius: .5rem;
  /*font-family: "Roboto", sans-serif;*/
  margin: 5px;
}

.button-standard:hover
{
  background-color: #f8f8f8;
}

.button-small {
  height: 30px;
  margin: 0;
  padding: 0px 10px;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  /*font-family: "Roboto", sans-serif;*/
}

.color-accent {
  background-color: #d30000;
  color: white;
}

.color-accent:hover
{
  background-color: #e40101;
}

#loadSessionButton {
  display: block;
  margin: auto;
  margin-top: 1.3em;
}

#configurator-panel {
  position: absolute;
  top: 4%;
  left: 2.35%;
  height: calc(100% - 60px);
  width: 322px;
  z-index: 15;
  -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
          filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

#configurator-panel-content > div > h1 {
  /*font-family: "Roboto", sans-serif;*/
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  height: 100px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#configurator-panel-content > div {
  text-align: center;
  margin-bottom: 10px;
}

#configurator-panel-content {
  display: grid;
  grid-template-rows: 100px 1fr min-content;
  z-index: 18;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0px;
  height: 90%;
}

#FloorSwapOptionsMenu {
  margin-right: 10px;
  z-index: 16;
  overflow: scroll;
  overflow-x: hidden;
}

#help-button {
  position: absolute;
  top: 4%;
  right: 2.35%;
  z-index: 12;

  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

#help-button:hover {
  transform: scale(1.2,1.2);
  transition: transform 0.2s;
}

.modal {
  z-index: 210;
  display: none;
  padding-top: 0px;
  color: black;
}

.modal > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.modal > div > div {
  background: #FFFFFF;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  text-align: center;
  z-index: 20;
  padding: 40px;
  overflow: auto;
}

#configurator-options-container
{
  overflow: auto;
}

h1 {
  /*font-family: Roboto;*/
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0,0,0,1);
}

.help-card {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'iconArea iconArea' 'titleArea titleArea' 'textArea textArea';
  margin: 10px;
  width: 176px;
}

.help-card > img
{
  grid-area: iconArea;
  justify-self: center;
  align-self: center;
}

.help-card > h1
{
  grid-area: titleArea;
}

.help-card > p {
  grid-area: textArea;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  color: rgb(0,0,0,1);
  margin: 0px;
}

.modal > div > div > .closeButton {
  right: 1%;
  top: 2%;
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.code-panel > div > div {
  width: 570px;
  /*padding-bottom: 61px;*/
}

.code-panel > div > div > input[type="text"] {
  height: 29px;
  width: 276px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#code-label {
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.closeButton
{
  border: none;
  background: none;
  cursor: pointer;
}

#configurator-panel-header
{
  display: grid;
  place-items: center;
  grid-template-columns:  auto 90px;
}

.configurationOption:first-child  {
  margin-top: 0px;
}

.configurationOption > img
{
  width: 272px;
  height: 158px;
  border-radius: 15px;
}

.configurationOption > input
{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
.configurationOption > input:checked + img
{
  border: #d30000 solid 3px;
}
.configurationOption
{
  width: 272px;
  height: 158px;
  margin-top: 28px;
  display: inline-block;
  cursor: pointer;
}


#configurator-panel-footer {
  z-index: 18;
}

#configurator-footer {
  position: absolute;
  bottom: 0px;
  z-index: 18;

  max-height: 113px;
  min-height: 60px;
  width: 100%;
}

#configurator-footer > svg
{
  z-index: 18;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#showConfigurationButton
{
  align-content: center;
  z-index: 19;
  background: none;
  color: white;
  font-size: 100%;
  border-width: 1px;
  font-size: 1em;
  padding: 0.3em 1em;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
}

@media only screen and (max-width: 1000px)
{
  #showConfigurationButton
  {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 700px)
{
  #showConfigurationButton
  {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 500px)
{
  .help-card
  {
    grid-template-areas: 'iconArea titleArea' 'iconArea textArea' 'iconArea textArea';
    width: 100%;
    text-align: left;
  }

  .help-card > h1
  {
    font-size: 1.2rem;
    margin: 0px;
  }

  .help-card > p
  {
    font-size: 0.8rem;
    line-height: 1.4em;
    margin: 0px;
  }

  #help-panel-title
  {
    display: none;
  }

  #showConfigurationButton
  {
    font-size: 0.6em;
    padding: 0.1em 0.7em;
  }
}

@media only screen and (max-width: 320px)
{
  #showConfigurationButton
  {
    /*font-size: 0.4em;*/
    padding: 0em 0.3em;
  }
}

#sessionNotFoundFeedback
{
  display: none;
}
#sessionNotFoundFeedback:not([style*="display: none"])
{
  animation: shake 0.3s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translateX(4px); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-8px); }
  100% { transform: translateX(4px); }
}

#loader {
  background-color: #fff;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader > div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sk-chase {
  width: 100%;
  height: 100%;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: black;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  80% {
    transform: scale(1.0);
  } 100%, 0% {
    transform: scale(0.4);
  }
}





.fadeout {
  animation-iteration-count: 1;
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
  }
  @keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }

  @-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }

  @-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }

  @-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }

  @-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }